/*Variables*/

:root {
    --basic-extragrey: #293449;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-light: #F3F7F9;
    --basic-green: #63A63E;
    --basic-red: #EE3643;
    --basic-grey: #F1F5F7;
    --basic-greylight: #F9F5F0;
    --basic-darkgrey: #32425C;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-gold: #FFD180;
    
}

/*Global*/

.visually-hidden {
    position: absolute;
    left: -1000px;
}

.new {
    position: relative;
    overflow: hidden;
}

.new::after {
    content: "new";
    color: var(--basic-white);
    font-family: Cuprum, "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    position: absolute;
    width: 100px;
    height: 30px;
    top: 8px;
    right: -27px;
    background-color: var(--basic-red);
    transform: rotate(45deg);
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    text-transform: uppercase;
    display: block;
    width: 192px;
    height: 38px;
    box-sizing: border-box;
    padding-top: 11px;
    text-align: center;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    background-color: var(--basic-red);
    display: block;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 -5px 0 0 rgba(0,0,0,0.24) inset;
}

.product-card {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    min-height: 318px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card h3{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}

.product-card img {
    object-fit: contain;
    max-height: 170px;
}

.old-price {
    color: #A9A9A9;
    text-decoration: line-through;
    margin-top: auto;
    margin-bottom: 13px;
}

.product-card .img-container {
    height: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    order: -1;
}

.price-button {
    display: block;
    box-sizing: border-box;
    width: 141px;
    height: 38px;
    padding: 10px 0;
    text-align: center;
    background-image: url("../img/price-button.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 21px;
}


/*Header*/



.main-header {
    padding-bottom: 60px;
    margin-bottom: 60px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.header-logo {
    width: 220px;
    height: 47px;
    padding: 12px 0 17px 0;
    
}

.header-search {
    display: block;
    padding: 9px 0;
    padding-left: 42px;
    position: relative;
}

.header-search::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 17px;
    top: 12px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.order-nav-wrapper {
    background-color: var(--basic-extragrey);
}

.order-nav {
    display: flex;
    height: 42px;
    grid-template-columns: min-content 1fr max-content;
}

.order-info {
    margin-left: auto;
    display: flex;
    align-items: stretch;
}


.order-info-item a {
    position: relative;
    display: block;
    height: 42px;
    width: 150px;
    box-sizing: border-box;
    padding: 9px 0;
}

a.bookmarks {
    padding-left: 43px;
}

a.cart {
    padding-left: 49px;
}

.order-info-item:not(:last-child) a::before {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    opacity: 0.3;
}

.bookmarks::before {
    width: 14px;
    height: 16px;
    left: 20px;
    background-image: url("../img/icon-bookmark.svg");
}

.cart::before {
    width: 15px;
    height: 15px;
    left: 26px;
    background-image: url("../img/icon-cart.svg")
}

.make-order {
    background-color: var(--basic-green);
    text-align: center;
}

.header-inner {
    height: 158px;
    box-sizing: border-box;
    padding-top: 46px;
    display: grid;
    grid-template-columns: 1fr 270px 1fr;
    gap: 20px;
}

.header-inner p {
    margin: 0;
    padding: 0;
}


.description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
    margin-top: -3px;
}

.header-tel {
    position: relative;
    display: block;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    width: 270px;
    height: 45px;
    box-sizing: border-box;
    border: 3px solid var(--basic-white);
    padding-top: 4px;
    padding-left: 74px;
}

.header-tel::before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    left: 39px;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-darkgrey);
}

.header-contacts p {

    text-align: center;
}

.header-login {
    justify-self: end;
    display: flex;
    align-items: flex-start;
}

.header-login a{
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    display: block;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--basic-white);
    height: 45px;
}

.sign-in {
    width: 121px;
    padding-left: 45px;
    margin-right: 10px;
    position: relative;
}

.sign-in::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 19px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.sign-up {
    width: 150px;
    padding-left: 24px;
}

.site-nav-wrapper {
    background-color: var(--basic-darkgrey);
    height: 60px;
    box-sizing: border-box;
    padding: 0 25px;
    box-shadow: 0 -5px 0 0 var(--basic-extragrey) inset;
}

.site-nav {
    display: flex;
    
}

.site-nav-item {
    flex-grow: 1;
}

.site-nav-item a {
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
}



/*Main*/



.pre-catalog {
    margin-bottom: 59px;
    position: relative;
}

.pre-catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 123px);
    gap: 20px;
    
}

.pre-catalog-list-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-white);
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 22px;
    position: relative;
}

.pre-catalog-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    width: 135px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.3);
    margin-top: 14px;
}

.materials {
    background-color: var(--special-yellow);
}

.instruments {
    background-color: var(--special-blue);
}

.vehicle {
    background-color: var(--special-purple);
}

.discounts {
    background-color: var(--special-greenlight);
}

.delivery {
    background-color: var(--special-yellow);
}

.pre-catalog-list-item::before {
    content: "";
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.materials::before {
    background-image: url("../img/materials.svg");
    height: 65px;
    width: 44px;
    top: 31px;
    right: 43px;
}

.instruments::before {
    background-image: url("../img/instruments.svg");
    width: 75px;
    height: 61px;
    top: 34px;
    right: 31px;
}

.vehicle::before {
    background-image: url("../img/vehicle.svg");
    width: 78px;
    height: 62px;
    top: 31px;
    right: 31px;
}

.discounts::before {
    background-image: url("../img/discounts.svg");
    width: 59px;
    height: 72px;
    top: 26px;
    right: 45px;
}

.delivery::before {
    background-image: url("../img/delivery.svg");
    width: 78px;
    height: 63px;
    top: 32px;
    right: 31px;
}

.slider {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    background-color: var(--basic-darkgrey);
    background-image: url("../img/slider2.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    object-fit: cover;
}

.slider div {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    height: 104px;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 24px;
    background-color: rgba(0,0,0,0.25);
}

.slider h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.pre-catalog .button {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

.popular-products {
    margin-bottom: 70px;
    position: relative;
}

.popular-products h2,
.popular-producers h2{
    background-color: var(--basic-greylight);
    height: 89px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 29px;
    padding-left: 28px;
}

.popular-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.popular-products .button,
.popular-producers .button{
    position: absolute;
    top: 25px;
    right: 14px;
}

.popular-producers {
    margin-bottom: 70px;
    position: relative;
}

.popular-producers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.popular-producers-list-item {
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    display: flex;
}

.popular-producers-list-item img {
    margin: auto;
    object-fit: contain;
}

.services-wrapper {
    background-color: var(--basic-grey);
}

.services {
    margin-bottom: 70px;
    padding-top: 64px;
    padding-bottom: 99px;
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 20px;
}

.services-description {
    grid-column: 1 / -1;
    margin-bottom: 70px;
}

.services-description h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.services-list {
    background-color: var(--basic-darkgrey);
    box-sizing: border-box;
    margin-right: 80px;
    position: relative;
}

.services-list a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 22px;
    margin-bottom: 1px;
    width: 240px;
    height: 61px;
    box-shadow: 
        0 1px 0 0 #293449, 
        inset 0 1px 0 0 #405069;
}

.active a {
    background-color: var(--basic-white);
    color: var(--basic-darkgrey);
    box-shadow: none;
}

.services-list::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 279px;
    background-image: url("../img/services-shadow.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: -49px;
    right: 0;
}

.delivery-description h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
    margin: 0;
    margin-bottom: 30px;
}

.delivery-description {
    position: relative;
}

.delivery-description img {
    position: absolute;
    top: 22px;
    right: 0;
}

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 70px;
}

.company-info p {
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
}

.clients-list {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    color: var(--basic-black);
    box-sizing: border-box;
    padding-left: 37px;
    margin-bottom: 20px;
}

.clients-list-item {
    margin-bottom: 12px;
    position: relative;
}

.clients-list-item::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    position: absolute;
    top: 12px;
    left: -37px;
}

.company-info-button {
    width: 220px;
}

.contacts {
    display: flex; 
    flex-direction: column;
}

.contacts img {
    margin-top: 32px;
    margin-bottom: 25px;
}

.contacts p {
    margin: 0;
    padding: 0;
}

.feedback-button {
    width: 300px;
}



/*Footer*/



.main-footer {
    color: var(--basic-white);
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.footer-top-wrapper {
    background-color: var(--basic-darkgrey);
}

.footer-top {
    padding-bottom: 54px;
    display: grid;
    grid-template-rows: 63px min-content;
    gap: 27px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-line {
    display: flex;
}

.footer-logo {
    width: 220px;
    height: 68px;
    padding: 20px 0;
}

.useful-links {
    margin-left: auto;
    display: flex;
    width: 546px;
    justify-content: space-between;
    align-items: flex-end;
}

.products-list {
    margin-left: auto;
    display: flex;
    width: 524px;
    justify-content: space-between;
}

.products-list a {
    color: var(--special-gold);
}

.footer-bottom-wrapper {
    background-color: var(--basic-extragrey);
}

.footer-bottom {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    height: 107px;
    display: flex;
    align-items: center;
}

.footer-bottom a {
    color: var(--special-gold);
}

.copyright {
    order: -1;
}

p.feedback {
    margin-left: auto;
    margin-right: 51px;
}

.socials-list {
    display: flex;
    width: 134px;
    justify-content: space-around;
    margin-left: 160px;
}

.social-button {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212A3A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

