/*Variables*/

:root {
    --basic-extragrey: #293449;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-light: #F3F7F9;
    --basic-green: #63A63E;
    --basic-red: #EE3643;
    --basic-grey: #F1F5F7;
    --basic-greylight: #F9F5F0;
    --basic-darkgrey: #32425C;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-gold: #FFD180;
    
}

/*Global*/

html {
    height: 100%;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    text-transform: uppercase;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    background-color: var(--basic-red);
    display: block;
    text-align: center;
    box-sizing: border-box;
}

/*Header*/



.main-header {
    background-color: var(--basic-grey);
    color: var(--basic-black);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.header-logo {
    width: 220px;
    height: 47px;
    padding-top: 15px;
}

.order-nav-wrapper {
    background-color: var(--basic-extragrey);
}

.order-nav {
    display: flex;
    grid-template-columns: min-content 1fr max-content;
}

.order-info {
    margin-left: auto;
}

.make-order {
    background-color: var(--basic-green);
}

.header-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
}

.header-tel {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-darkgrey);
}

.header-login {
    justify-self: end;
}

.header-login a{
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.site-nav-wrapper {
    background-color: var(--basic-darkgrey);
}

.site-nav {
}



/*Main*/



.pre-catalog {
    margin-bottom: 59px;
}

.pre-catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 123px);
    gap: 20px;
}

.pre-catalog-list-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-white);
}

.pre-catalog-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.pre-catalog-list-item:nth-child(1) {
    background-color: var(--special-yellow);
}

.pre-catalog-list-item:nth-child(2) {
    background-color: var(--special-blue);
}

.pre-catalog-list-item:nth-child(3) {
    background-color: var(--special-purple);
}

.pre-catalog-list-item:nth-child(4) {
    background-color: var(--special-greenlight);
}

.pre-catalog-list-item:nth-child(5) {
    background-color: var(--special-yellow);
}

.pre-catalog-list-item:last-child {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    background-color: var(--basic-darkgrey);
}

.popular-products {
    margin-bottom: 70px;
}

.popular-products h2,
.popular-producers h2{
    background-color: var(--basic-greylight);
    margin-bottom: 20px;
}

.popular-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.popular-products-list-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    min-height: 318px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}

.popular-products-list-item del,
.popular-products-list-item ins {
    font-size: 17px;
    line-height: 18px;
}

.popular-producers {
    margin-bottom: 70px;
}

.popular-producers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.popular-producers-list-item {
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    
}

.services-wrapper {
    background-color: var(--basic-grey);
    padding-top: 64px;
}

.services {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 20px;
}

.services-description {
    grid-column: 1 / -1;
    margin-bottom: 70px;
}

.services-description h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.services-list {
    background-color: var(--basic-darkgrey);
    box-sizing: border-box;
    margin-right: 80px;
}

.services-list-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
}

.delivery-description h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
    margin: 0;
    margin-bottom: 30px;
}

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.clients-list {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    color: var(--basic-black);
}



/*Footer*/



.main-footer {
    color: var(--basic-white);
}

.footer-top-wrapper {
    background-color: var(--basic-darkgrey);
}

.footer-top {
    
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-logo {
    width: 220px;
    height: 68px;
    padding: 20px 41px 25px 41px;
}

.products-list a {
    color: var(--special-gold);
}

.footer-bottom-wrapper {
    background-color: var(--basic-extragrey);
}

.footer-bottom {
    
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.footer-bottom a {
    color: var(--special-gold);
}

